@import "../../global.scss";

.dash_titulo {
    color: $text-color-gray;
    margin-bottom: 32px;
    font-size: 2rem;
    font-weight: 500;
}

.dash_generos {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.dash_resultado {
    margin-top: 32px;
    font-size: 0.9rem;
    font-weight: 600;
    color: $text-color-gray;
}

.dash_nenhum {
    padding: 32px;
    border: 2px solid $shade-light-gray;
    width: 50%;
    margin-top: 32px;
    border-radius: 8px;
    color: $text-color-gray;
}