@import "../../global.scss";

.caps_wrapper {
    border: 2px solid $shade-light-gray;
    border-radius: 8px;
    padding: 32px;
    width: 50%;
    color: $text-color-gray;
    margin-top: 32px;
}

.caps_bold {
    font-weight: 500;
}

.caps_conteudo {
    display: flex;
    justify-content: space-between;
}

.caps_info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.caps_conteudo_dir {
    display: flex;
    gap: 12px;
}

.caps_botao_cima {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.caps_lixeira {
    background-color: $color-red;
}

.caps_lixeira:hover {
    background-color: $color-red-hover;
}

.caps_editar {
    background-color: $color-green;
}

.caps_editar:hover {
    background-color: $color-green-hover;
}

.caps_baixo {
    display: none;
}

.caps_baixo.aberto {
    display: flex;
    flex-direction: column;
}

.caps_divisoria {
    border: 1px solid $shade-light-gray;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

.caps_titulo {
    color: $brand-color-pink;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.caps_item {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
    font-weight: 500;
    color: $text-color-gray;
}

.caps_menor {
    width: 32px;
    height: 32px;
}

.caps_menor img {
    width: 12px;
}

.caps_baixo_secao {
    display: flex;
    justify-content: space-between;
}

.caps_baixo_secao_esq {
    display: flex;
    flex-direction: column;
}

.caps_mbottomzero {
    margin-bottom: 0px;
}


/* Responsividade */

@media only screen and (max-width: 1200px) {

    .caps_wrapper {
        min-width: 100%;
    }

}

@media only screen and (max-width: 500px) {

    .caps_conteudo {
        flex-direction: column;
    }

    .caps_conteudo_dir {
        margin-top: 16px;
    }

}